//  Sumit section


// Section-1
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Vim-container {
    background: rgb(67, 76, 204, 0.0515);
    display: flex;
    padding: 111px 135px;
    padding-bottom: 129px;

    #left-vim {
        margin-right: 79px;
    }

    #left-vim>h5 {
        color: var(--Text_Black, #000);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
    }

    #left-vim>h2 {
        color: var(--Text_Black, #000);
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        line-height: 64px;
        margin-top: 21px;
    }

    .vim-para {
        margin-top: 29px;

        max-width: 561px;
    }

    #vim-button {
        color: #434CCC;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: 1px solid rgba(67, 76, 204, 0.3);
        padding: 13px 55px;
        margin-top: 33px;
        border-radius: 5px;
        transition: .3s;
    }

    #vim-button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .vim-para>p {
        color: var(--Text_Black, #000);
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        line-height: 32px;

    }

    #right-vim-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 57px;
        column-gap: 40px;
        padding-top: 67px;


    }

    #right-vim-cont>div {
        display: flex;
        gap: 30px;



    }

    #right-vim-cont>div>div>h4 {
        font-family: DM Serif Display;
        font-size: 24px;
        font-style: normal;
        line-height: 32px;
        margin-bottom: 7px;

    }

    #right-vim-cont>div>div>img {
        transition: .3s;
    }

    #right-vim-cont>div>div>img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    #right-vim-cont>div>div>p {
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        /* 150% */
    }

}

hr {
    opacity: 0.3;
}

// Section-2
#tantas-container {
    background: rgb(67, 76, 204, 0.0515);
    display: flex;
    padding: 135px;
    align-items: center;
    padding-bottom: 129px;

    img {
        transition: .3s;
    }

    img:hover {
        transform: scale(1.1);
        cursor: pointer;

    }

}

#tantas-right {
    margin-left: 135px;
}

#tantas-right>h5 {
    color: var(--Text_Black, #000);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

#tantas-btn {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    outline: none;
    line-height: 24px;
    background: #434CCC;
    border-radius: 5px;
    padding: 12px 43.5px;
    transition: .3s;

}

#tantas-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#tantas-right>h2 {
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    line-height: 64px;
    margin-bottom: 29px;
}

#tantas-right>p {
    color: var(--Text_Black, #000);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
    width: 470px;
}

// Responsive layout

@media all and (max-width:375px) {


    #Vim-container {
        padding-left: 14px;
        flex-direction: column;
        padding: 63px 14px 49px 15px;

        #right-vim-cont>div {
            gap: 35px;
        }

        #right-vim-cont>div>div>p {
            height: 77px;
        }

        #left-vim {

            margin-right: 0;

            h2 {
                width: 171px;
                font-family: DM Serif Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
            }
        }

        .right-vim {
            #right-vim-cont {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 12px;

            }
        }
    }

    .vim-para {
        width: 346px;
    }




    #tantas-container {
        flex-direction: column;
        padding: 10.51px 14px;

        img {
            width: 350px;
        }
    }

    #tantas-right {
        margin-left: 0px;
    }

    #tantas-right>h5 {
        margin-top: 51.29px;
        margin-bottom: 19px;
    }

    #tantas-right>h2 {
        font-family: DM Serif Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        width: 294px;
        margin-top: 19px;
        margin-bottom: 31px;
    }

    #tantas-right>p {
        width: 346px;
    }

    #tantas-btn {
        margin-bottom: 80px;
    }
}