*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Rantu's Section

.vivendo-card{
    background-color: #f5f6fd;
    width: 1440px;
    height: 768px;
    box-sizing: border-box;
    padding: 60px 135px 80px 135px;
    display: flex;
    flex-direction: column;
    #heading{
        text-align: center;
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px; 
        margin-bottom: 29px;
    }
    #heading + p{
        text-align: center;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin-bottom: 36px;
    }
    .cards{
        display: flex;
        gap: 30px;
        
        .home, .truck, .time{
            width: 370px;
            height: 416px;
            border-radius: 5px;
            background: #FFF;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
            padding: 0 32px;
            transition-duration: .3s;
        }
        .home>div:nth-child(1){
            margin: 64px 0 54px 0;
        }
        .truck>div:nth-child(1){
            margin: 73px 0 63px 0;
        }
        .time>div:nth-child(1){
            margin: 58px 0 48px 0;
        }
        .images{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-heading{
            font-family: DM Serif Display;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            margin-bottom: 15px;
        }
        .para{
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            margin-bottom: 25px;
        }
        .learn{
            display: flex;
            align-items: center;
            p{
                color: var(--Text_Black, #000);
                font-family: DM Sans;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px; 
                margin: 18px 0 21px 0;
            }
            img{
                margin-left: 7px;
            }
        }
        .home:hover, .truck:hover, .time:hover{
            cursor: pointer;
            transform: scale(1.1);
        }
      
    }
}

.welcome-part{
    background-color: #f5f6fd;
    width: 1440px;
    height: 768px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
   
    .image-part{
        height: 653px;
        width: 981px;
        margin: 29px 0 86px 0;
        box-sizing: border-box;
    }
    .para-part{
        height: 100%;
        margin-right: 135px;
        margin-left: -5.1rem;
        box-sizing: border-box;
        
        .logos{
            margin-bottom: 49px;
        }
        .logos>div:nth-child(1){
            margin-bottom: 7px;
        }
        .logos>div:nth-child(2){
            margin-bottom: 10px;
        }
        #para1{
            margin-left: 23px;
        }
        #para2{
            margin-left: 17px;
        }
        #para3{
            margin-left: 25px;
        }
    }

    .para-part>h5{
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
        margin-top: 127px;
        margin-bottom: 21px;
    }
    .para-part>h2{
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-bottom: 29px;
    }
    .para-part>p{
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        margin-bottom: 23px;
    }

   
    .img-text{
        display: flex;
        align-items: center;
    }
    .img-text>p{
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
    .buttons>button:nth-child(1){
        width: 170px;
        height: 48px;
        border-radius: 5px;
        background: var(--Primary_1, #434CCC);
        color: #FFF;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: 1px solid #434CCC;
        transition-duration: 0.3s;
    }
    .buttons>button:nth-child(1):hover{
        cursor: pointer;
        background-color: #333bac;
        transform: scale(1.05);
    }
    .buttons>button:nth-child(2){
        width: 170px;
        height: 48px;
        color: #434CCC;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border-radius: 5px;
        border: 1px solid #434CCC;
        margin-left: 30px;
        transition-duration: 0.3s;
    }
    .buttons>button:nth-child(2):hover{
        cursor: pointer;
        background-color: rgb(233, 234, 250);
        transform: scale(1.05);
    }
}

.blue-part{
    width: 1440px;
    height: 480px;
    background-color: #434CCC;
    text-align: center;
    box-sizing: border-box;
    padding : 76px 0 89px 0;
    h2{
        color: var(--Text_White, #FFF);
        text-align: center;
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        font-weight: 400;
        line-height: 64px;
        margin-bottom: 29px;
    }
    #small-para{
        color: var(--Text_White, #FFF);
        text-align: center;
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; 
        margin-bottom: 35px;
    }
    .analytics{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        margin: 0 135px;
        h1{
            color: var(--Text_White, #FFF);
            text-align: center;
            font-family: DM Serif Display;
            font-size: 56px;
            font-style: normal;
            font-weight: 400;
            line-height: 64px;
        }
        p{
            color: var(--text-white-50, rgba(255, 255, 255, 0.50));
            text-align: center;
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }
    }
   
}

@media all and (max-width: 375px){
    .vivendo-card{
        height: auto;
        padding: 0 15px;
        .cards{
           flex-direction: column;
           align-items: center;
           padding: 0 15px;
           margin: 16px 0;
           .home, .truck, .time{
            width: 346px;
            height: 416px;
           }
        }
    }
    
    .welcome-part{
        height: auto;
        padding: 0 15px;
        flex-direction: column;
        margin-bottom: 80px;
    }

    .blue-part{
        height: auto;
        padding: 0 15px;
        .analytics{
            grid-template-columns: repeat(1, 1fr);
        }
    }
    
}