
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header1_h{
    width: 1440px;
    flex-shrink: 0;
    display: flex;
    background: #434CCC;
    height: 80px;
    box-sizing: border-box;
    padding-left: 135px;
    padding-right: 135px;
    justify-content: space-between;

    h3{
      color: var(--Text_White, #FFF);
      /* H3 */
      font-family: DM Serif Display;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px; /* 120% */
    }
    .link_h{
      display: flex;
      justify-content: space-evenly;
      margin-top: 28px;
      margin-left: 534px;
      margin-right: 40px;
      width: 324px;
      height: 24px;
      gap: 40px;

      a{
        color: var(--Text_White, #FFF);
        text-align: right;
        text-decoration: none;
        /* Text */
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 150% */
        
      }
      a:hover {
        transform: scale(1.2);
        cursor: pointer;
      }
    }

    button{
      margin-top: 16px;
      width: 170px;
      height: 48px;
      flex-shrink: 0;
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent;
      border-radius: 5px;
      color: #FFF;
      text-align: center;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      // font-weight: 700;
      line-height: 24px;
    }
    button:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    
  }

  .header1_h svg {
    display: none;
  }
   
  .header2_h {
    width: 1440px;
    flex-shrink: 0;
    display: flex;
    background: #434CCC;
    height: 224px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    h1 {
      margin-top: 47px;
      color: var(--Text_White, #FFF);
      text-align: center;
      /* H1 */
      font-family: DM Serif Display;
      font-size: 72px;
      font-style: normal;
      font-weight: 400;
      line-height: 80px;
      /* 111.111% */
    }

    p {
      color: var(--Text_White, #FFF);
      text-align: center;
      /* Text_Big */
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      /* 160% */
    }
  }


  // section-2 style

  .container_h{
     width: 1440px;
     height: 768px;
     padding: 0px 135px;
     display:flex;
     background: rgba(67, 76, 204, 0.0515);
  }

  .left_h{
    .text_h{
       margin-top: 127px;
  
      h4{
        width: 93px;
        height : 24px;
        color: var(--Text_Black, #000);
          /* H5 */
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
          letter-spacing: 4.8px;
          text-transform: uppercase;
          margin-bottom: 21px;
      }
  
      h2{
        width: 411px;
        height: 128px;
        color: var(--Text_Black, #000);
  
          /* H2 */
          font-family: DM Serif Display;
          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 64px; /* 114.286% */
           margin-bottom: 29px;
      }
  
      p{
        // border: 1px solid;
        width: 570px;
        height: 83px;
        flex-shrink: 0;
        color: var(--Text_Black, #000);
  
        /* Text_Big */
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 160% */
        margin-bottom: 30px;
      }
    }
  
    .bottom_h{
      display: flex;
      gap:30px;
  
       .s1{
          h3{
            width: 86px;
            height: 48px;
            color: var(--Text_Black, #000);
            /* H3 */
            font-family: DM Serif Display;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 120% */
          }
          .dark{
            width: 114px;
            height: 24px;
            color: var(--Text_Black, #000);
  
            /* Text */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            // font-weight: 700;
            line-height: 24px; /* 150% */
          }
          .grey{
            width: 270px;
            height: 49px;
            flex-shrink: 0;
            color: var(--text-black-50, rgba(0, 0, 0, 0.50));
            /* Text_Gray */
            font-family: DM Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 150% */
          }
       }
  
       .s2{
        h3{
          width: 86px;
          height: 48px;
          color: var(--Text_Black, #000);
          /* H3 */
          font-family: DM Serif Display;
          font-size: 40px;
          font-style: normal;
          font-weight: 400;
          line-height: 48px; /* 120% */
          margin-bottom: 5px;
        }
        .dark{
          width: 121px;
          height: 24px;
          color: var(--Text_Black, #000);
          //styleName: Text;
          font-family: DM Sans;
          font-size: 16px;
          // font-weight: 700;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
        .grey{
          width: 270px;
          height: 49px;
          flex-shrink: 0;
          color: var(--text-black-50, rgba(0, 0, 0, 0.50));
          /* Text_Gray */
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 150% */
        }
       }
    }
  }

  .right_h{
    width: 1077px;
    height: 718px;
    margin-top: 3px;
    //  border: 1px solid red;
     margin-left: -227px;
     img{
      width: 100%;
     }
  }
  

    
  
// media Haresh
  @media all and (max-width:375px){
    .header1_h{
      padding: 0;
      max-width: 375px;
      h3 {
        color: #FFF;
        margin-top: 16px;
        font-size: 24px;
        line-height: 32px;
        margin-left: 14px;
      }
      .link_h{
        display: none;
      }
      button {
        display: none;
      }
      svg {
        display: block;
        margin-top: 24px;
        margin-right: 26px;
        transition:.3s;
      }
      svg:hover{
        transform: scale(1.1);
        cursor: pointer;
      }


    // Haresh Media Query

@media all and (max-width:375px){
  .header1_h{
    padding: 0;
    max-width: 375px;
    h3 {
      color: #FFF;
      margin-top: 16px;
      font-size: 24px;
      line-height: 32px;
      margin-left: 14px;
    }
    .link_h{
      display: none;
    }
    button {
      display: none;
    }
    svg {
      display: block;
      margin-top: 24px;
      margin-right: 26px;
      transition:.3s;
    }
    svg:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
  }
  
  .header2_h{
    padding: 0;
    max-width: 375px;
    h1 {
      font-size: 56px;
      line-height: 64px;
    }
    p {
      font-size: 20px;
      line-height: 32px;

    }
  
    
  // Haresh media



  .container_h{
    width: 375px;
    height: 1152px;
    padding: 0px 14px;
    display:flex;
    flex-direction: column;
 }
 .left_h{
  // border: 2px solid;
  .text_h{
     margin-top: 47px;

    h4{
      width: 93px;
      height : 24px;
      margin-bottom: 19px;
      //styleName: H5;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.3em;
        text-align: left;
    }

    h2{
      width: 294px;
      height: 96px;
      //styleName: H3;
      font-family: DM Serif Display;
      font-size: 40px;
      font-weight: 400;
      line-height: 48px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 31px;
    }

    p{
      border: none;
      width: 346px;
      height: 135px;
      flex-shrink: 0;
      //styleName: Text_Big;
      font-family: DM Sans;
      font-size: 20px;
      font-weight: 400;
      line-height: 32px;
      letter-spacing: 0px;
      // text-align: left;
      margin-bottom: 42px;
    }
  }

  .bottom_h{
    display: flex;
    flex-direction: column;

     .s1{
        h3{
          width: 86px;
          height: 48px;
          //styleName: H3;
          font-family: DM Serif Display;
          font-size: 40px;
          font-weight: 400;
          line-height: 48px;
          letter-spacing: 0px;
          text-align: left;
          margin-bottom: 5px;
        }
        .dark{
          width: 114px;
          height: 24px;
          margin-bottom: 8px;
          //styleName: Text;
            font-family: DM Sans;
            font-size: 16px;
            // font-weight: 700;
            line-height: 24px;
            letter-spacing: 0px;
            text-align: left;
            // border: 1px solid red;
        }
        .grey{
          width: 270px;
          height: 49px;
          //styleName: Text_Gray;
          font-family: DM Sans;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
          text-align: left;
        }
     }

     .s2{
      h3{
        width: 96px;
        height: 48px;
        //styleName: H3;
        font-family: DM Serif Display;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 5px;
      }
      .dark{
        width: 121px;
        height: 24px;
        letter-spacing: 0px;
        text-align: left;
        margin-bottom: 8px;
        // font-weight: 700;
      }
      .grey{
        width: 270px;
        height: 49px;
        //styleName: Text_Gray;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
      }
     }
  }
 }

 .right_h{
  width: 647px;
  height: 431px;
  margin-top: -8px;
  margin-bottom: 21px;
  // border: 1px solid red;
  margin-left: -200px;
  img{
    width: 100%;
  }
 }
}
  

 

  
  // Rantu style

.vivendo-card{
  background-color: #f5f6fd;
  width: 1440px;
  height: 768px;
  box-sizing: border-box;
  padding: 60px 135px 80px 135px;
  display: flex;
  flex-direction: column;
  #heading{
      text-align: center;
      font-family: DM Serif Display;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 64px; 
      margin-bottom: 29px;
  }
  #heading + p{
      text-align: center;
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px;
      margin-bottom: 36px;
  }
  .cards{
      display: flex;
      gap: 30px;
      
      .home, .truck, .time{
          width: 370px;
          height: 416px;
          border-radius: 5px;
          background: #FFF;
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30);
          padding: 0 32px;
          transition-duration: .3s;
      }
      .home>div:nth-child(1){
          margin: 64px 0 54px 0;
      }
      .truck>div:nth-child(1){
          margin: 73px 0 63px 0;
      }
      .time>div:nth-child(1){
          margin: 58px 0 48px 0;
      }
      .images{
          display: flex;
          justify-content: center;
          align-items: center;
      }
      .card-heading{
          font-family: DM Serif Display;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 32px;
          margin-bottom: 15px;
      }
      .para{
          color: var(--text-black-50, rgba(0, 0, 0, 0.50));
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 25px;
      }
      .learn{
          display: flex;
          align-items: center;
          p{
              color: var(--Text_Black, #000);
              font-family: DM Sans;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: 24px; 
              margin: 18px 0 21px 0;
          }
          img{
              margin-left: 7px;
          }
      }
      .home:hover, .truck:hover, .time:hover{
          cursor: pointer;
          transform: scale(1.1);
      }
    
  }
}

.welcome-part{
  background-color: #f5f6fd;
  width: 1440px;
  height: 768px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
 
  .image-part{
      height: 653px;
      width: 981px;
      margin: 29px 0 86px 0;
      box-sizing: border-box;
  }
  .para-part{
      height: 100%;
      margin-right: 135px;
      margin-left: -5.1rem;
      box-sizing: border-box;
      
      .logos{
          margin-bottom: 49px;
      }
      .logos>div:nth-child(1){
          margin-bottom: 7px;
      }
      .logos>div:nth-child(2){
          margin-bottom: 10px;
      }
      #para1{
          margin-left: 23px;
      }
      #para2{
          margin-left: 17px;
      }
      #para3{
          margin-left: 25px;
      }
  }

  .para-part>h5{
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 4.8px;
      text-transform: uppercase;
      margin-top: 127px;
      margin-bottom: 21px;
  }
  .para-part>h2{
      font-family: DM Serif Display;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 64px;
      margin-bottom: 29px;
  }
  .para-part>p{
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; 
      margin-bottom: 23px;
  }

 
  .img-text{
      display: flex;
      align-items: center;
  }
  .img-text>p{
      color: var(--text-black-50, rgba(0, 0, 0, 0.50));
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
  }
  .buttons>button:nth-child(1){
      width: 170px;
      height: 48px;
      border-radius: 5px;
      background: var(--Primary_1, #434CCC);
      color: #FFF;
      text-align: center;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      border: 1px solid #434CCC;
      transition-duration: 0.3s;
  }
  .buttons>button:nth-child(1):hover{
      cursor: pointer;
      background-color: #333bac;
      transform: scale(1.05);
  }
  .buttons>button:nth-child(2){
      width: 170px;
      height: 48px;
      color: #434CCC;
      text-align: center;
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
      border-radius: 5px;
      border: 1px solid #434CCC;
      margin-left: 30px;
      transition-duration: 0.3s;
  }
  .buttons>button:nth-child(2):hover{
      cursor: pointer;
      background-color: rgb(233, 234, 250);
      transform: scale(1.05);
  }
}

.blue-part{
  width: 1440px;
  height: 480px;
  background-color: #434CCC;
  text-align: center;
  box-sizing: border-box;
  padding : 76px 0 89px 0;
  h2{
      color: var(--Text_White, #FFF);
      text-align: center;
      font-family: DM Serif Display;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 64px;
      margin-bottom: 29px;
  }
  #small-para{
      color: var(--Text_White, #FFF);
      text-align: center;
      font-family: DM Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 32px; 
      margin-bottom: 35px;
  }
  .analytics{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      margin: 0 135px;
      h1{
          color: var(--Text_White, #FFF);
          text-align: center;
          font-family: DM Serif Display;
          font-size: 56px;
          font-style: normal;
          font-weight: 400;
          line-height: 64px;
      }
      p{
          color: var(--text-white-50, rgba(255, 255, 255, 0.50));
          text-align: center;
          font-family: DM Sans;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
      }
  }
 
}



// Rantu Media 

@media all and (max-width: 375px) {
  .vivendo-card{
      width: 375px;
      height: 1632px;
      box-sizing: border-box;
      padding: 0 15px;
      padding-bottom: 80px;
      #heading{
        margin: 42px 0 31px 0;
      }
      .p1_r{
        margin-bottom: 50px;
      }
      .cards{
         flex-direction: column;
         align-items: center;
         padding: 0 15px;
         margin: 16px 0;
         .home, .truck, .time{
          // width: 346px;
          // height: 416px;
          margin-bottom: 16px;
         }
      }
  }
  
  .welcome-part{
      height: 1056px;
      width: 461px;
      box-sizing: border-box;
      padding: 0 15px;
      flex-direction: column;
      
      margin-bottom: 80px;
      .image-part{
        width: 461px;
        height: auto;
        img{
          width: 100%;
        }
      }
      .para-part{
        width: 461px;
        box-sizing: border-box;
        padding-left: 50px;
        margin-top: 0;
        margin-right: -20px;
        h5{
          margin-top: 0;
        }
      }
      #lorem_r{
        margin: 19px 0 31px 0;
      }
      .logos{
        margin: 44px 0 50px 0;
      }
      .buttons>button:nth-child(2){
          margin-left: 7px;
      }
  }
  
  // Rantu style

  // Sumit style

  #Vim-container {
    background: rgb(67, 76, 204, 0.0515);
    display: flex;
    width:1440px;
    padding: 111px 135px;
    padding-bottom: 129px;

    #left-vim {
        margin-right: 79px;
    }

    #left-vim>h5 {
        color: var(--Text_Black, #000);
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 4.8px;
        text-transform: uppercase;
    }

    #left-vim>h2 {
        color: var(--Text_Black, #000);
        font-family: DM Serif Display;
        font-size: 56px;
        font-style: normal;
        line-height: 64px;
        margin-top: 21px;
    }

    .vim-para {
        margin-top: 29px;

        max-width: 561px;
    }

    #vim-button {
        color: #434CCC;
        text-align: center;
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        border: 1px solid rgba(67, 76, 204, 0.3);
        padding: 13px 55px;
        margin-top: 33px;
        border-radius: 5px;
        transition: .3s;
    }

    #vim-button:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    .vim-para>p {
        color: var(--Text_Black, #000);
        font-family: DM Sans;
        font-size: 20px;
        font-style: normal;
        line-height: 32px;

    }

    #right-vim-cont {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 57px;
        column-gap: 40px;
        padding-top: 67px;


    }

    #right-vim-cont>div {
        display: flex;
        gap: 30px;



    }

    #right-vim-cont>div>div>h4 {
        font-family: DM Serif Display;
        font-size: 24px;
        font-style: normal;
        line-height: 32px;
        margin-bottom: 7px;

    }

    #right-vim-cont>div>div>img {
        transition: .3s;
    }

    #right-vim-cont>div>div>img:hover {
        transform: scale(1.1);
        cursor: pointer;
    }

    #right-vim-cont>div>div>p {
        font-family: DM Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: var(--text-black-50, rgba(0, 0, 0, 0.50));
        /* 150% */
    }

}

hr {
    opacity: 0.3;
}

// Sumit Section-2
#tantas-container {
    background: rgb(67, 76, 204, 0.0515);
    display: flex;
    padding: 135px;
    width: 1440px;
    align-items: center;
    padding-bottom: 129px;

    img {
        transition: .3s;
    }

    img:hover {
        transform: scale(1.1);
        cursor: pointer;

    }

}

#tantas-right {
    margin-left: 135px;
}

#tantas-right>h5 {
    color: var(--Text_Black, #000);
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    margin-bottom: 21px;
}

#tantas-btn {
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    border: none;
    outline: none;
    line-height: 24px;
    background: #434CCC;
    border-radius: 5px;
    padding: 12px 43.5px;
    transition: .3s;

}

#tantas-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#tantas-right>h2 {
    color: var(--Text_Black, #000);
    font-family: DM Serif Display;
    font-size: 56px;
    font-style: normal;
    line-height: 64px;
    margin-bottom: 29px;
}

#tantas-right>p {
    color: var(--Text_Black, #000);
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
    width: 470px;
}

// Responsive layout

@media all and (max-width:375px) {


    #Vim-container {
        padding-left: 14px;
        width: 375px;
        flex-direction: column;
        padding: 63px 14px 49px 15px;

        #right-vim-cont>div {
            gap: 35px;
        }

        #right-vim-cont>div>div>p {
            height: 77px;
        }

        #left-vim {

            margin-right: 0;

            h2 {
                width: 171px;
                font-family: DM Serif Display;
                font-size: 40px;
                font-style: normal;
                font-weight: 400;
                line-height: 48px;
            }
        }

        .right-vim {
            #right-vim-cont {
                grid-template-columns: repeat(1, 1fr);
                row-gap: 12px;

            }
        }
    }

    .vim-para {
        width: 346px;
    }




    #tantas-container {
        flex-direction: column;
        padding: 10.51px 14px;
        width: 375px;

        img {
            width: 350px;
        }
    }

    #tantas-right {
        margin-left: 0px;
    }

    #tantas-right>h5 {
        margin-top: 51.29px;
        margin-bottom: 19px;
    }

    #tantas-right>h2 {
        font-family: DM Serif Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        width: 294px;
        margin-top: 19px;
        margin-bottom: 31px;
    }

    #tantas-right>p {
        width: 346px;
    }

    #tantas-btn {
        margin-bottom: 80px;
    }
}

  .blue-part{
      height: 896px;
      width: 375px;
      box-sizing: border-box;
      padding: 74px 15px 73px 15px;
      #small-para{
        margin: 31px 0;
      }
      .analytics{
          grid-template-columns: repeat(1, 1fr);
      }
  }
  
}




